<mat-toolbar color = "accent"><a routerLink="">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>
            
                attribution
            
        </mat-icon>
    </button></a>
    <span >
        <a routerLink="">
            Nossa Equipe
        </a>
    </span>
  <span class="example-spacer"></span>
  <a routerLink="/funcionario/cadastradar">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>
        person_add
    </mat-icon>
  </button></a>
</mat-toolbar>