mat-card-content {
  padding: 16px;
}

.data {
  width: 50%;
  display: block;
}
.card {
  width: 100%;
}

mat-grid-tile {
  width: 100%;
}

.atividade {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.infos {
  flex: 1;
  margin-right: 8px;
}
.funcionarios {
  flex: 1;
  margin-left: 8px;
}

.conteudo-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.conteudo-funcionarios {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

table {
  margin-top: 16px;
  width: 100%;
}
