<mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64">
      <mat-nav-list>
        <a mat-list-item routerLink="">
          <mat-icon class="material-icons-outlined" mat-list-icon>home</mat-icon>
          <span> Home</span>
        </a>
        <a mat-list-item routerLink="/funcionario/cadastrar">
          <mat-icon class="material-icons-outlined" mat-list-icon>person_add</mat-icon>
          <span> Cadastar Funcionario</span>
        </a>
        <a mat-list-item routerLink="/atividade/cadastrar">
          <mat-icon class="material-icons-outlined" mat-list-icon>group_add</mat-icon>
          <span> Cadastrar Atividade</span>
        </a>
        <a mat-list-item routerLink="/funcionario/listar">
          <mat-icon class="material-icons-outlined" mat-list-icon>person</mat-icon>
          <span> Listar Funcionario</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>